/* AccessoryItem.module.css */

.accessoryItem {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .accessoryItem:hover {
    transform: scale(1.05);
  }
  
  .accessoryLink {
    text-decoration: none;
    color: inherit;
  }
  
  .accessoryImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .nameAndPrice {
    display: flex;
    justify-content: center; /* Align the text to the center */
    align-items: center; /* Align the text vertically */
  }
  
  .accessoryNameAndPrice {
    font-size: 16px;
    color: #007b5e;
    font-weight: bold;
    margin-top: 10px; /* Add some margin above the name and price */
  }
  @media (max-width: 768px) {
    .detailContainer {
        flex-direction: column;  
        gap: 20px;
        padding: 10px;
    }
    
    .imageContainer,
    .detailText {
        max-width: 100%;
        flex: none; /* Resets flex values for stacking */
    }

    h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .description {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .price {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .separator {
        width: 20%;
        margin: 20px auto;
    }
    
    .addToCartButton {
        font-size: 16px;
        padding: 10px 20px;
    }
}
