form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the form fields */
  width: 70%;  /* Slightly wider form */
  margin: 0 auto;
  padding: 30px;  /* Increase padding */
  background-color: #F1ECE4;
  border-radius: 20px;  /* Rounded corners */
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);  /* Darker box shadow */
}

form h2 {
  text-align: center;
  margin-bottom: 40px;  /* More space after the title */
  color: #495464;  /* Darker color for the title */
}

form label {
  font-weight: bold;
  margin-top: 20px;  /* More space before each label */
  font-size: 1.2em;  /* Slightly larger text */
}

form input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;  /* More space after each input field */
  font-size: 1.1em;
  width: 80%;  /* Make input fields take up 80% of the form's width */
}

/* Make name and email input fields smaller for variety */
form input#name, form input#email {
  width: 60%;
}

form button {
  padding: 15px;
  background-color: #b1d8b7;
  border: none;
  color: white;
  font-size: 20px;  /* Larger button text */
  border-radius: 10px;  /* Rounded button corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;  /* Add transform to the transition */
  margin-top: 40px;  /* More space before the button */
  width: 50%;  /* Make the button take up half of the form's width */
}

form button:hover {
  background-color: #495464;  /* Darker hover color */
  transform: scale(1.05);  /* Make the button slightly larger when hovered */
}
