.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Added to center items vertically */
  align-items: center; /* Ensure items are centered horizontally */
  height: 100vh; /* Adjusted to full viewport height */
  background-image: url('./Hero.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  
.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 35%; /* Adjusted from 80% to 40% */
  padding: 20px;
  border-radius: 10px;
}
  
.title {
  font-size: 2.5em;
  color: white;
  margin-bottom: 0.5em;
}
  
.subtitle {
  font-size: 1.5em;
  color: white;
  margin-bottom: 1em;
}
  
.shopNowButton {
  font-size: 1.2em;
  padding: 0.5em 1em;
  color: white;
  background-color: #8ac493;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px; /* This will give your button rounded corners */
}
  
.shopNowButton:hover {
  background-color: #6ba378;
}

@media only screen and (max-width: 768px) {
  .heroContent {
    width: 80%; /* Increase width for better readability on smaller screens */
    padding: 10px; /* Reduce padding for better fit on smaller screens */
  }

  .title {
    font-size: 2em; /* Decrease font size for smaller screens */
  }
  
  .subtitle {
    font-size: 1.2em; /* Decrease font size for smaller screens */
  }

  .shopNowButton {
    font-size: 1em; /* Adjust button font size */
    padding: 0.4em 0.8em; /* Adjust button padding */
  }
}