/* PlantItem.module.css */
.plantItem {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.plantItem:hover {
  transform: scale(1.05);
}

.plantLink {
  text-decoration: none;
  color: inherit;
}

.plantImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.nameAndPrice {
  display: flex;
  justify-content: center; /* Align the text to the center */
  align-items: center; /* Align the text vertically */
}

.plantNameAndPrice {
  font-size: 16px;
  color: #007b5e;
  font-weight: bold;
  margin-top: 10px; /* Add some margin above the name and price */
}
