.detailContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 80%;
    max-width: 1200px; /* Add this line. Adjust as needed */
    margin: 0 auto;
    gap: 50px;
}
  
  .imageContainer {
    flex: 1;
    max-width: 500px;
  }
  
  .detailText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }  
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .price {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .addToCartButton {
    background-color: #6c3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  