/* PlantList.module.css */
.plantList {
  max-width: 960px; /* adjust this value to change how much empty space you want on the sides */
  margin: auto; /* this will center your grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* this will create a 3 columns grid */
  grid-template-rows: repeat(4, auto); /* this will create a 4 rows grid */
  gap: 20px;
  padding: 20px; /* Add some padding */
}

.productsHeading {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px; 
}

.lineSeparator {
  height: 1px;
  background-color: #000; /* or any color you want */
  width: 5%; /* Adjust to desired width */
  margin: 25px auto;/* adjust as needed */
}
